[submodule "src/llama.cpp"]
	path = src/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "src/libreadability"]
	path = src/libreadability
	url = https://github.com/tbogdala/libreadability.git
